<h1>Players</h1>
<table>
	<% @players.each do |player| %>
	  <tr>
	  	<td><%= link_to player.player_key_id, player %></td>
	  	<td><%= player.first_name %></td>
	    <td><%= player.last_name %></td>
	  </tr>
	<% end %>
</table>





