<h1>Stats</h1>
<table>
	<% @stat.each do |stat| %>
	  <tr>
	  	<td><%= stat.player_key_id %></td>
	  	<td><%= stat.year_id %></td>
	    <td><%= number_with_precision(stat.batting_average, :precision => 3)%></td>
	    <td><%= number_with_precision(stat.slugging_percentage, :precision => 2)%>%</td>
	  </tr>
	<% end %>
</table>

